.message {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.imageAndText {
	display: flex;
	flex-direction: row-reverse;
	gap: 6px;
	align-self: flex-end;
}

.imageAndText img {
	width: 48px;
	height: 48px;
}

.text {
	position: relative;
	top: -8px;
	gap: 3px;
	min-width: 80px;
	padding: 0px 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	background-color: #0066cc;
	border-radius: 10px;
}

.text:after {
	content: '';
	z-index: -1;
	position: absolute;
	bottom: 0px; /* Adjust based on your needs */
	right: -10px; /* Adjust based on your needs */
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid transparent;
	border-bottom: 24px solid #0066cc;
}

.name {
	font-weight: 600;
	font-size: 16px;
	color: white;
}

.messageText {
	font-size: 16px;
	color: white;
	font-weight: 100;
}

.time {
	transform: translateX(-11px);
	align-self: flex-end;
	font-size: 12px;
	font-weight: 600;
}
